* {
    margin: 0;
    padding: 0;  
}

body {

    background-color: honeydew;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}


.header, .contenedor, .footer {

    width: 90%;
    margin: 20px auto;
    max-width: 1000px;
}

.header__logo {

    background-color: black;
}
.logo {

    width: 10%;
}

.header__barra-navegacion {

    background-color: #528fd5;

}

.header__ul {

    list-style: none;
    display: flex;
    justify-content:center;;
}

.header__li, a {

    color: white;
    padding: 10px 20px;
    display: block;
    text-decoration: none;

}

.header__li :hover{

    background: rgb(69, 171, 208);
}


.contenedor__articles {

    width: 70%;
    float: left;
    margin-right: 1.5%;

}


.contenedor__article1 {

    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
    
}


.contenedor__article2 {

    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.contenedor__article3 {

    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.sidebar {

    width: 28.5%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;

}

.footer {

    background-color: black;
    color: white;
    clear: both;
    padding: 10px 0;
    text-align: center;
}

.footer__redes-sociales {

    background-color: black;
    color: white;
    clear: both;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.footer__redes-sociales :hover {

    background: gray;
}